<div class="main">
  <div class="main-header">
    <h1>Tasks</h1>
    <p>
      In the home screen section, you can review and manage a summary of views
      with their details. You can view and edit information such as ID's of all
      orders, product date, order status, price, and location. Access to this
      view is limited. Only Administrators and team leaders have access. The
      changes you make will be approved after they are reviewed.
    </p>
  </div>
  <div class="main-body">
    <app-tasks />
  </div>
</div>
