.sidebar {
  width: 250px;
  height: 100vh;
  border-right: 1px solid #000;
}

.sidebar-wrapper {
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.sidebar-header {
  height: 3.6rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.sidebar-header h2 {
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(212, 212, 212, 0.633);
  width: 99%;
  padding-bottom: 15px;
}
