<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="sidebar-header">
      <h2>Oasis</h2>
    </div>
    <div></div>
    <div>
      <ul>
        <!-- Sidebar tasks mapped here -->
        @for (item of sidebarData; track $index) {
        <li class="sidebar-selection-container">
          <p>{{ item.title }}</p>
          @for (selection of item.selections; track $index) {
          <div>
            <i [class]="selection.image"></i>
            <span>{{ selection.selection }}</span>
          </div>
          }
        </li>
        }
      </ul>
    </div>
  </div>
</div>
